body {
  font-family: sans-serif;
  font-style: italic;
  font-size: 20px;
}

p {
  margin: 3px 13px;
  color: #41197f;
}

.flex-container {
  display: flex;
  border: 3px solid #41197f;
  border-radius: 15px;
  width: 480px;
  background-color: #f0f2f5;
}

.flex-container div {
  width: 100px;
  height: 100px;
  background-color: #2fc18c;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #034132;
  border-radius: 10%;
}

.container div:first-child {
  /* flex-grow: 1; */
}

.flexbox-axes {
  margin: 100px 0;
  display: flex;
  flex-flow: row wrap;
  width: 800px;
}

.axes-box {
  width: 350px;
  margin: 10px;
}

.axes-box p {
  font-size: 16px;
  margin: 10px;
  font-style: normal;
  font-family: monospace;
  color: #333;
}

.axes-box-container {
  display: flex;  
  border: 3px solid #41197f;
  border-radius: 15px;
  background-color: #f0f2f5;
  width: fit-content;
  margin: 20px 0 60px;
}

.axes-box-container div {
  width: 50px;
  height: 50px;
  background-color: #2fc18c;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #034132;
  border-radius: 10%;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
  margin-left: 70px;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column-reverse {
  flex-direction: column-reverse;
  margin-left: 70px;
}

.flex-wrap-section {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.flex-wrap-box {
  margin: 10px 0;
}

.flex-wrap-box p {
  font-size: 16px;
  margin: 10px;
  font-style: normal;
  font-family: monospace;
  color: #333;
}

.flex-wrap-container {
  display: flex;  
  border: 3px solid #41197f;
  border-radius: 15px;
  background-color: #f0f2f5;
  width: fit-content;
  margin: 15px 0;
  width: 300px;
}

.flex-wrap-container div {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  background-color: #2fc18c;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #034132;
  border-radius: 10%;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.justify-content-section {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 100px 0;
}

.justify-box {
  margin: 10px 0;

}

.justify-box p {
  font-size: 16px;
  margin: 10px;
  font-style: normal;
  font-family: monospace;
  color: #333;
}

.justify-container {
  display: flex;  
  border: 3px solid #41197f;
  border-radius: 15px;
  background-color: #f0f2f5;
  width: fit-content;
  margin: 15px 0;
  width: 500px;
}

.justify-container div {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  background-color: #2fc18c;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #034132;
  border-radius: 10%;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.align-items-section {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 100px 0;
}

.align-box {
  margin: 10px 0;

}

.align-box p {
  font-size: 16px;
  margin: 10px;
  font-style: normal;
  font-family: monospace;
  color: #333;
}

.align-container {
  display: flex;  
  border: 3px solid #41197f;
  border-radius: 15px;
  background-color: #f0f2f5;
  width: fit-content;
  margin: 15px 0;
  width: fit-content;
  height: 150px;
}

.align-container div {
  flex-shrink: 0;
  width: 70px;
  min-height: fit-content;
  background-color: #2fc18c;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #034132;
  border-radius: 10%;
}

.align-stretch {
  align-items: stretch;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.item1 {
  font-size: 50px;
}

.item2 {
  font-size: 80px;
}

.item3 {
  font-size: 35px;
}

.item4 {
  font-size: 30px;
}

.item5 {
  font-size: 65px;
}

.item6 {
  font-size: 20px;
}

.align-content-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 700px;
  margin: 100px 0;
}

.align-content-box {
  margin: 10px 0;
  width: 350px;
}

.align-content-box p {
  font-size: 16px;
  margin: 10px;
  font-style: normal;
  font-family: monospace;
  color: #333;
}

.align-content-container {
  display: flex;  
  flex-wrap: wrap;
  border: 3px solid #41197f;
  border-radius: 15px;
  background-color: #f0f2f5;
  width: fit-content;
  margin: 15px 0;
  width: 280px;
  height: 400px;
}

.align-content-container div {
  flex-shrink: 0;
  width: 50px;
  min-height: 50px;
  background-color: #2fc18c;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #034132;
  border-radius: 10%;
}

.align-content-stretch {
  align-content: stretch;
}

.align-content-flex-start {
  align-content: flex-start;
}

.align-content-flex-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-space-between {
  align-content: space-between;
}

.align-content-space-around {
  align-content: space-around;
}

.order-section {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 100px 0;
}

.order-box {
  margin: 10px 0;

}

.order-box p {
  font-size: 16px;
  margin: 10px;
  font-style: normal;
  font-family: monospace;
  color: #333;
}

.order-container {
  display: flex;  
  border: 3px solid #41197f;
  border-radius: 15px;
  background-color: #f0f2f5;
  width: fit-content;
  margin: 15px 0;
}

.order-container div {
  font-size: 14px;
  font-family: monospace;
  font-weight: bold;
  font-style: normal;
  flex-shrink: 0;
  width: 100px;
  height: 80px;
  background-color: #2fc18c;
  margin: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #034132;
  border-radius: 10%;
}

.align-self-section {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 100px 0;
}

.align-self-box {
  margin: 10px 0;

}

.align-self-box p {
  font-size: 16px;
  margin: 10px;
  font-style: normal;
  font-family: monospace;
  color: #333;
}

.align-self-container {
  display: flex;  
  border: 3px solid #41197f;
  border-radius: 15px;
  background-color: #f0f2f5;
  height: 200px;
  align-items: center;
  width: fit-content;
  margin: 15px 0;
}

.align-self-container div {
  font-size: 14px;
  font-family: monospace;
  font-weight: bold;
  font-style: normal;
  flex-shrink: 0;
  width: 120px;
  min-height: 80px;
  background-color: #2fc18c;
  margin: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #034132;
  border-radius: 10%;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-stretch {
  align-self: stretch;
}

.flex-grow-section {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 100px 0;
}

.flex-grow-box {
  margin: 10px 0;

}

.flex-grow-box p {
  font-size: 16px;
  margin: 10px;
  font-style: normal;
  font-family: monospace;
  color: #333;
}

.flex-grow-container {
  display: flex;  
  border: 3px solid #41197f;
  border-radius: 15px;
  background-color: #f0f2f5;
  align-items: center;
  width: 700px;
  margin: 0;
}

.flex-grow-container div {
  font-size: 14px;
  font-family: monospace;
  font-weight: bold;
  font-style: normal;
  flex-shrink: 0;
  width: 120px;
  min-height: 80px;
  background-color: #2fc18c;
  margin: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #034132;
  border-radius: 10%;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}